@font-face {
	font-family: 'Conv_DINOT-Regular';
	src: url('fonts/DINOT-Regular.eot');
	src: local('☺'), url('fonts/DINOT-Regular.woff') format('woff'), url('fonts/DINOT-Regular.ttf') format('truetype'), url('fonts/DINOT-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_DINOT-Bold'; 
	src: url('fonts/DINOT-Bold.eot');
	src: local('☺'), url('fonts/DINOT-Bold.woff') format('woff'), url('fonts/DINOT-Bold.ttf') format('truetype'), url('fonts/DINOT-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}