/*  BASE COLOR  */
/*
RED			#E21837
WHITE 		#FFFFFF
BLACK 		#2C2E3D
GREY		#E8E8E8
*/
  
/*  General CSS  */
body {
  font-size: 14px;
  font-family: 'Conv_DINOT-Regular';
}
.form-control,
input,
textarea,
select {
  font-size: 14px;
}
p:last-child {
  margin-bottom: 0;
}
a:hover,
a:focus,
a:active,
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
img {
  max-width: 100%;
}
@media (min-width: 1680px) {
  .container {
    max-width: 1380px;
  }
}

/*  Reuseable CSS  */
.content .subtitle {
  font-family: 'Conv_DINOT-Bold';
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.content .desc {
  margin-bottom: 1.5rem;
}
.content .image img {
  width: 100%;
}
.section {
  position: relative;
  padding: 5rem 0;
}
.section.with-wavebackground:before {
  background-image: url('../img/background_wavegrey.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 529px;
}
.section.with-wavebackground ~ .section {
  padding-top: 6rem;
}
.section-heading .heading {
  font-family: 'Conv_DINOT-Bold';
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.section-heading .subheading {
  font-family: 'Conv_DINOT-Bold';
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.btn-white {
  background-color: #fff;
  font-family: 'Conv_DINOT-Bold';
  font-size: 14px;
  padding: 12px 45px;
  border-radius: 50px;
  color: #2C2E3D;
  box-shadow: 0 0 10px rgba(0,0,0,0.0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  color: #2C2E3D;
}
.btn-red {
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  font-family: 'Conv_DINOT-Bold';
  font-size: 14px;
  padding: 12px 45px;
  border-radius: 50px;
  color: rgba(255,255,255,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: #fff;
}
.intro {
  padding: 1rem 0 6rem;
}
.intro .title {
  font-family: 'Conv_DINOT-Bold';
  font-size: 2.2rem;
  margin-top: 1rem;
}
.intro > div:not(:last-child) {
  margin-bottom: 1rem;
}
.intro .link {
  margin-top: 3.4rem;
}
.intro.bigger .title {
  font-size: 3rem;
  color: #E21837;
}
.intro.bigger .desc {
  font-size: 1.5rem;
}

/*  Custom CSS  */
/*  -- Navigation  */
header {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header .top-nav {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  height: 48px;
}
header.scrolled .top-nav {
  height: 0;
  padding: 0 1rem;

}

/*  -- -- Top Nav  */
.top-nav {
  background-color: #E21837;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.top-nav .logo-group {
  margin-bottom: 0;
}
.top-nav .logo-group .logo-item {
  height: 16px;
  background-image: url(../img/logo-sangobion-group.png);
  background-repeat: no-repeat;
  background-size: 418px 16px;
  display: block;
}
.top-nav .logo-group .logo-item.sangobion-fit {
  width: 83px;
  background-position: 0px 0px;
}
.top-nav .logo-group .logo-item.vitatonik {
  width: 64px;
  background-position: -91px 0px;
}
.top-nav .logo-group .logo-item.femine-menstrupain {
  width: 110px;
  background-position: -164px 0px;
}
.top-nav .logo-group .logo-item.baby-kids {
  width: 60px;
  background-position: -281px 0px;
}
.top-nav .logo-group .logo-item.pro-immune {
  width: 72px;
  background-position: -348px 0px;
}
.top-nav .globalsearch-wrapper form {
  display: flex;
  align-items: center;
}
.top-nav .globalsearch-wrapper form .btn-search {
  background: transparent;
  border: none;
  text-indent: -10000px;
  height: 32px;
  width: 34px;
  background-image: url(../img/icon-search-w.png);
  background-color: #E21837;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  margin-left: 10px;
}
.top-nav .globalsearch-wrapper form .btn-search:focus {
  box-shadow: none;
}
.top-nav .globalsearch-wrapper .form-control {
  border-radius: 50px;
  height: 32px;
  width: 250px;
  border: none;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
} 
.top-nav .globalsearch-wrapper .form-control.hidden {
  width: 0;
  padding: 0;
  opacity: 0;
}
@media (min-width: 1200px) {
  .top-nav .logo-group {
    margin-left: 300px;
  }
}

/*  -- -- Main Nav  */
header.scrolled .main-nav .navbar-brand img {
  height: 35px;
}
.main-nav {
  background-color: #fff;
}
.main-nav .navbar-brand img {
  height: 50px;
  width: 236px;
  object-fit: contain;
  object-position: center;
  margin-right: 2rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.main-nav .nav-item .nav-link {
  font-family: 'Conv_DINOT-Bold';  
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.main-nav .nav-item.active .nav-link {
  color: #E21837;
}
.main-nav .nav-item.selection {
  display: flex;
  padding-right: 1rem;
}
.main-nav .nav-item.selection .nav-link {
  padding-right: 0.5rem;
}
.main-nav .nav-item.selection .custom-select {
  width: auto;
  border: none;
}

/*  -- Homepage  */
/*  -- -- Banner  */
.home-banner {
  color: #fff;
}
.hslider-title{
  font-family: 'Conv_DINOT-Bold';
  font-size: 48px;
  line-height: 1;
}
.hslider-desc{
  font-size: 14px;
  line-height: 1.5 !important;
}
.hslider-left, .hslider-right{
  position: absolute; 
  z-index: 999; 
  top: 50%; 
  margin-top: 60px; 
  width: 62px; 
  height: 62px; 
  display: block;
}
.hslider-left{
  left: 10px; 
  background: url(../img/bg-arrow-1.png) no-repeat top left; 
  background-size: 62px;
}
.hslider-right{
  right: 10px; 
  background: url(../img/bg-arrow-2.png) no-repeat top left; 
  background-size: 62px;
}
/*  -- -- Card Multicolor  */
.card-multicolor .card-col .card-item {
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin-bottom: 2rem;
}
.card-multicolor .card-col .card-item:hover,
.card-multicolor .card-col .card-item:focus,
.card-multicolor .card-col .card-item:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-multicolor .card-col .card-item .image {
  overflow: hidden;
}
.card-multicolor .card-col .card-item .image img {
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.card-multicolor .card-col .card-item:hover .image img,
.card-multicolor .card-col .card-item:focus .image img,
.card-multicolor .card-col .card-item:active .image img {
  transform: scale(1.1);
}
.card-multicolor .card-col .card-item .text .title {
  text-align: center;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  font-family: 'Conv_DINOT-Bold';
  color: #fff;
}
.card-multicolor .card-col .card-item .text .type {
  text-align: center;
  padding: 0.25rem 1.5rem;
  font-style: italic;
}

/*  -- -- Filter Slider  */
.slider-overflow {
  overflow: hidden;
}
.filter-slider {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.filter-slider .owl-carousel .owl-stage-outer {
  /* margin-left: -50%;
  margin-right: -50%; */
}
.filter-slider .owl-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
.filter-slider .owl-head .filter-menu ul {
  margin-bottom: 0;
}
.filter-slider .owl-head .filter-menu ul li {
  font-family: "Conv_DINOT-Bold";
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.filter-slider .owl-head .filter-menu ul li:hover,
.filter-slider .owl-head .filter-menu ul li:focus,
.filter-slider .owl-head .filter-menu ul li:active {
  color: #E21837;
}
.filter-slider .owl-head .viewall-wrapper {
  display: flex;
}
.filter-slider .owl-head .viewall-wrapper .label {
  margin-right: 1rem;
  font-family: "Conv_DINOT-Bold";
}
.filter-slider .owl-head .viewall-wrapper .viewall-link a {
  font-family: "Conv_DINOT-Bold";
  color: #E21837;
}
.filter-slider .filter-item .item {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  position: relative;
}
.filter-slider .filter-item .item .image img {
  width: 100%;
}
.filter-slider .filter-item .item .text {
  padding: 0.5rem 1.5rem 1.5rem;
}
.filter-slider .filter-item .item .text .title {
  font-family: "Conv_DINOT-Bold";
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.filter-slider .filter-item .item .text .desc p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  height: 83.2px;
}
.filter-slider .filter-item .item .owl-item {
  margin-bottom: 1px;
}
.filter-slider .filter-item .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/bg-4.png');
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.filter-slider .filter-item .item .overlay .btn-learn-more {
  background-image: url('../img/icon-water.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  text-align: center;
  color: #E21837;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
  font-size: 0.7rem;
  font-family: "Conv_DINOT-Bold";
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -o-transform: scale(0.1);
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.filter-slider .filter-item .item .overlay:hover,
.filter-slider .filter-item .item .overlay:focus,
.filter-slider .filter-item .item .overlay:active {
  opacity: 1;
}
.filter-slider .filter-item .item .overlay:hover .btn-learn-more,
.filter-slider .filter-item .item .overlay:focus .btn-learn-more,
.filter-slider .filter-item .item .overlay:active .btn-learn-more {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  top: calc(50% - 75px);
}
.filter-slider .filter-item .item .overlay .icon-arrow-down {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  height: 7px;
  background: url(../img/icon-arrow-down.png) no-repeat center;
  background-size: 11px 7px;
}

/*  Article  */
.with-background {
  background-image: url('../img/article_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlap-wrapper .image img {
  width: 100%;
}
.overlap-wrapper .intro {
  margin-right: 0;
  margin-left: auto;
  padding: 4rem 6rem;
  padding-right: 10rem;
  max-width: calc(100% - 100px);
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  color: white;
  margin-top: -150px;
  position: relative;
}
.thumbnail-wrapper .image {
  margin-bottom: 2rem;
}
.thumbnail-wrapper .image img {
  width: 100%;
}
.thumbnail-wrapper .text > div:not(:last-child) {
  margin-bottom: 2rem;
}
.thumbnail-wrapper .text .title {
  font-size: 1.5rem;
  font-family: 'Conv_DINOT-Bold';
}
.thumbnail-wrapper .text .desc p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.hslider-image img {
  width: 100%;
}
.hslider-image {
  position: relative;
}
.hslider-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(4, 159, 204, 0.7), rgba(1, 125, 179, 0.7));
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.hslider-image:hover .overlay,
.hslider-image:focus .overlay,
.hslider-image:active .overlay {
  opacity: 1;
}
.hslider-image .overlay .tooltip-wrapper {
  position: absolute;
  background: white;
  color: #2C2E3D;
  width: 300px;
  white-space: normal;
  padding: 1rem;
  z-index: 1;
  right: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  top: 100%;
  font-size: 0.8rem;
}
.hslider-image .overlay .tooltip-wrapper .desc {
  margin-bottom: 1.5rem;
}
.hslider-image .overlay .tooltip-wrapper .btn-red {
  padding: 6px 25px;
  font-size: 12px;
}
.article-c .overlap-wrapper .intro {
  background: linear-gradient(to bottom right, #049FCC, #017DB3);
}
.article-d .overlap-wrapper .intro {
  background: linear-gradient(to bottom right, #E5598A, #E8507E);
}

/*  Article Details  */
.share-socialmedia ul {
  margin-bottom: 0;
}
.share-socialmedia li {
  vertical-align: middle;
}
.share-socialmedia label {
  margin-bottom: 0;
}
.share-socialmedia .share-link {
  height: 28px;
  background-image: url(../img/socialmedia_logo.png);
  background-repeat: no-repeat;
  background-size: 142px 28px;
  display: block;
}
.share-socialmedia .share-link.facebook {
  width: 28px;
  background-position: 0px 0px;
}
.share-socialmedia .share-link.instagram {
  width: 28px;
  background-position: -38px 0px;
}
.share-socialmedia .share-link.twitter {
  width: 28px;
  background-position: -76px 0px;
}
.share-socialmedia .share-link.googleplus {
  width: 28px;
  background-position: -114px 0px;
}
.detail-point {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 2.5rem 2rem;
  margin-bottom: 1.5rem;
}
.detail-point .detail-point-heading {
  font-size: 20px;
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 1rem;
}
.detail-point ul {
  margin-bottom: 0;
}
.detail-point ul li {
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
}
.detail-point ul li a {
  position: relative;
  padding-left: 2rem;
  color: #2C2E3D;
  font-family: 'Conv_DINOT-Bold';
}
.detail-point ul li:before {
  content: '';
  width: 10px;
  height: 10px;
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  position: absolute;
  border-radius: 50px;
  margin-right: 1.5rem;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.detail-point ul li.active a {
  color: white;
}
.detail-point ul li.active:before {
  width: 100% !important;
  border-radius: 50px;
  padding: 20px 10px;
}
.detail-point ul li:hover:before,
.detail-point ul li:focus:before,
.detail-point ul li:active:before {
  width: 20px;
}
.detail-main {
  padding: 1rem 0;
}
.detail-main .title {
  font-size: 2.8rem;
  font-family: 'Conv_DINOT-Bold';
  line-height: 1.25;
  margin-bottom: 1.5rem;
}
.detail-main .image img {
  width: 100%;
}
.main-detail .content {
  padding: 1.5rem 0;
}
.related-article .related-item {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.related-article .related-item:hover,
.related-article .related-item:focus,
.related-article .related-item:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.related-article .related-item .image img {
  width: 100%;
}
.related-article .related-item .separator {
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  height: 5px;
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.related-article .related-item:hover .separator,
.related-article .related-item:focus .separator,
.related-article .related-item:active .separator {
  background: linear-gradient(to bottom right, #E01936 30%, #B6122B);
}
.related-article .related-item .text {
  padding: 1.25rem 2rem;
}
.related-article .related-item .text .title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 1.25rem;
  min-height: 60px;
}
.related-article .related-item .link a {
  display: block;
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  text-align: center;
  padding: 1.5rem 2rem;
  color: white;
  font-family: 'Conv_DINOT-Bold';
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.related-article .related-item:hover .link a,
.related-article .related-item:focus .link a,
.related-article .related-item:active .link a {
  background: linear-gradient(to bottom right, #E01936 30%, #B6122B);
}

/*  -- Footer  */
footer {
  background-image: url(../img/bg-6.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding-top: 4rem;
  margin-top: 3rem;
}
footer .logo {
  margin-top: 2rem;
}
footer .logo img {
  height: 60px;
}
footer .footer-menu .col-12 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
footer .footer-menu ul {
  margin-bottom: 0;
}
footer .footer-menu .heading {
  font-size: 1.2rem;
  font-family: 'Conv_DINOT-Bold';
  color: #fff;
  margin-bottom: 0.5rem;
}
footer .footer-menu .no-heading a {
  font-size: 1.2rem;
  font-family: 'Conv_DINOT-Bold';

}
footer .footer-menu li {
  margin-bottom: 0.25rem;
}
footer .footer-menu a {
  color: rgba(255,255,255,0.8);
}
footer .footer-menu a:hover,
footer .footer-menu a:focus,
footer .footer-menu a:active {
  color: rgba(255,255,255,1);
}
footer .language {
  margin-bottom: 2rem;
}
footer .language .btn {
  background: none;
  border: none;
  color: #fff;
}
footer .language .btn-result {
  font-family: 'Conv_DINOT-Bold';
}
footer .language .btn img {
  height: 24px;
  margin-right: 0.5rem;
  vertical-align: top;
}
footer .language .dropdown-toggle-split::after, 
footer .language .dropright .dropdown-toggle-split::after, 
footer .language .dropup .dropdown-toggle-split::after {
  margin-left: 0.5rem;
}
footer .socialmedia {
  margin-bottom: 2rem;
  text-align: right;
}
footer .socialmedia .socialmedia-item {
  height: 28px;
  background-image: url(../img/socialmedia_logo.png);
  background-repeat: no-repeat;
  background-size: 142px 28px;
  display: block;
}
footer .socialmedia .socialmedia-item.facebook {
  width: 28px;
  background-position: 0px 0px;
}
footer .socialmedia .socialmedia-item.instagram {
  width: 28px;
  background-position: -38px 0px;
}
footer .socialmedia .socialmedia-item.twitter {
  width: 28px;
  background-position: -76px 0px;
}
footer .socialmedia .socialmedia-item.googleplus {
  width: 28px;
  background-position: -114px 0px;
}
footer .copyrights {
  padding: 1rem ;
  background-color: rgba(0,0,0,.1);
}
footer .copyrights p {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.2rem;
}