/*  BASE COLOR  */
/*
RED			#E21837
WHITE 		#FFFFFF
BLACK 		#2C2E3D
GREY		#E8E8E8
*/
  
/*  General CSS  */
body {
  font-size: 14px;
  font-family: 'Conv_DINOT-Regular';
}
.form-control,
input,
textarea,
select {
  font-size: 14px;
}
p:last-child {
  margin-bottom: 0;
}
strong, b {
  font-weight: normal;
  font-family: 'Conv_DINOT-Bold';
}
a:hover,
a:focus,
a:active,
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  outline: none;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}
img {
  max-width: 100%;
}
@media (min-width: 1680px) {
  .container {
    max-width: 1380px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .form-control,
  input,
  textarea,
  select {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
}

/*  Reuseable CSS  */
.content .subtitle {
  font-family: 'Conv_DINOT-Bold';
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.content .desc {
  margin-bottom: 1.5rem;
}
.content .image img {
  width: 100%;
}
@media (max-width: 767px) {
  .content .subtitle {
    font-size: 0.9rem;
  }
}
.section {
  position: relative;
  padding: 5rem 0;
}
@Media (min-width: 1560px) {
  .section {
    background-size: cover !important;
    background-position: bottom !important;
  }
}
.section.with-wavebackground:before {
  background-image: url('../img/background_wavegrey.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 529px;
}
.section.with-wavebackground ~ .section {
  padding-top: 6rem;
}
.section-heading .heading {
  font-family: 'Conv_DINOT-Bold';
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.section-heading .subheading {
  font-family: 'Conv_DINOT-Bold';
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.section-heading .heading.with-desc{
  margin-bottom: 0;
}
.section-heading .heading.with-desc ~ .desc {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.section-heading .separator {
  height: 1px;
  background: #9B9B9B;
  margin-bottom: 1rem;
  opacity: 0.5;
}
@media (max-width: 991px) {
  .section.with-wavebackground ~ .section {
    padding-top: 0;
  }
}
@media (max-width:767px) {
  .section-heading .heading {
    font-size: 2.2rem;
  }
  .section-heading .subheading {
    font-size: 1rem;
  }
  .section-heading .heading.with-desc ~ .desc {
    font-size: 0.9rem;
  }
}
.btn-white {
  background-color: #fff;
  font-family: 'Conv_DINOT-Bold';
  font-size: 14px;
  padding: 12px 45px;
  border-radius: 50px;
  color: #2C2E3D;
  box-shadow: 0 0 10px rgba(0,0,0,0.0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  color: #2C2E3D;
}
.btn-red {
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  font-family: 'Conv_DINOT-Bold';
  font-size: 14px;
  padding: 12px 45px;
  border-radius: 50px;
  color: rgba(255,255,255,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: #fff;
}
@media(max-width: 767px) {
  .btn-red,
  .btn-white {
    padding: 6px 25px;
    font-size: 11px;
  }
}
.intro {
  padding: 1rem 0 6rem;
}
.intro .title {
  font-family: 'Conv_DINOT-Bold';
  font-size: 3.2rem;
  margin-top: 1rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}
.intro .desc {
  font-size: 1rem;
}
.intro > div:not(:last-child) {
  margin-bottom: 1rem;
}
.intro .link {
  margin-top: 3.4rem;
}
.intro.bigger {
  padding-top: 2rem;
}
.intro.bigger .title {
  font-size: 3rem;
}
.intro.bigger .desc {
  font-size: 1.5rem;
}
.intro.color-red .title {
  color: #E21837;
}
@media (max-width: 767px) {
  .section {
    padding: 2rem 0 3rem;
  }
  .intro {
    padding-bottom: 2rem;
  }
  .intro .title {
    font-size: 2.2rem;
  }
  .intro .desc {
    font-size: 0.9rem;
  }
  .intro.bigger .title {
    font-size: 2.8rem;
  }
  .intro.bigger .desc {
    font-size: 0.9rem;
  }
  .intro .link {
    margin-top: 1.7rem;
  }
  .intro .image img {
    max-width: 150px;
    margin: 0 auto 1rem;
  }
}
.recommended-slider .slick-list .slick-track {
  margin-left: 0;
}
.recommended-slider .recommended-item {
  margin: 1rem;
  border: 1px solid rgba(155,155,155,0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.recommended-slider .recommended-item:hover,
.recommended-slider .recommended-item:focus,
.recommended-slider .recommended-item:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.recommended-slider .recommended-item .title {
  padding: 1rem 1.5rem 0;
  text-align: center;
  font-size: 18px;
  line-height: 1.25;
}
.recommended-slider .recommended-item .title strong {
  display: block;
}
.recommended-slider .recommended-item .image {
  padding: 1rem;
}
.recommended-slider .recommended-item .image img {
  width: 100%;
}
.recommended-slider .recommended-item .link {
  padding: 1rem 1.5rem;
  background: linear-gradient(to bottom right, #E01936, #B6122B);
}
.recommended-slider .recommended-item .link a {
  color: white;
  text-align: center;
}
@media (max-width:767px) {
  .recommended-slider .recommended-item {
    margin: 0.25rem;
  }
  .recommended-slider .recommended-item .title {
    font-size: 0.9rem;
  }
  .recommended-slider .recommended-item .link {
    padding: 0.5rem 1rem;
  }
}


/*  Custom CSS  */
.main-wrap {
  padding-top: 124px;
}
@media (max-width: 1089px) {
  .main-wrap {
    padding-top: 109px
  }
}
@media (max-width: 843px) {
  .main-wrap {
    padding-top: 126px;
  }
}
@media (max-width: 633px) {
  .main-wrap {
    padding-top: 101px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*  -- Navigation  */
header {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header .top-nav {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  height: 48px;
}
header.scrolled .top-nav {
  height: 0;
  padding: 0 1rem;
}
.action-wrapper {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  right: 0;
  z-index: 99991;
}
.action-wrapper .action-item img {
  width: 50px;
  position: relative;
  right: -3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.action-wrapper .action-item:hover img,
.action-wrapper .action-item:focus img,
.action-wrapper .action-item:active img {
  right: 0px;
}
@media (max-width:767px) {
  .action-wrapper {
    top: 85%
  }
  .action-wrapper .action-item img {
    width: 30px;
  }
}
/*  -- -- Top Nav  */
.top-nav {
  background-color: #E21837;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.top-nav .logo-group {
  margin-bottom: 0;
}
.top-nav .logo-group .logo-item {
  height: 16px;
  background-image: url(../img/top-header-logo-all-white.png);
  background-repeat: no-repeat;
  background-size: 418px 16px;
  display: block;
}
.top-nav .logo-group .logo-item.sangobion-fit {
  width: 106px;
  background-position: -251px 0px;
}
.top-nav .logo-group .logo-item.vitatonik {
  width: 59px;
  background-position: 0px 0px;
}
.top-nav .logo-group .logo-item.sangobion {
  width: 82px;
  background-image: url(../img/fizz_logo.png);
  background-size: 112.25px 16px;
  background-position: 0 0;
}
.top-nav .logo-group .logo-item.fizz {
  width: 24px;
  background-image: url(../img/fizz_logo.png);
  background-size: 112.25px 16px;
  background-position: -89px 0;
}
.top-nav .logo-group .logo-item.femine-menstrupain {
  width: 110px;
  background-position: -134px 0px;
}
.top-nav .logo-group .logo-item.baby {
  width: 32px;
  background-position: -66px 0px;
}
.top-nav .logo-group .logo-item.kids {
  width: 32px;
  background-position: -98px 0px;
}
.top-nav .logo-group .logo-item.baby-kids {
  width: 63px;
  background-position: -66px 0px;
}
.top-nav .logo-group .logo-item.pro-immune {
  width: 72px;
  background-position: -348px 0px;
}
.top-nav .globalsearch-wrapper form {
  display: flex;
  align-items: center;
}
.top-nav .globalsearch-wrapper form .btn-search {
  background: transparent;
  border: none;
  text-indent: -10000px;
  height: 32px;
  width: 34px;
  background-image: url(../img/icon-search-w.png);
  background-color: #E21837;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  margin-left: 10px;
}
.top-nav .globalsearch-wrapper form .btn-search:focus {
  box-shadow: none;
}
.top-nav .globalsearch-wrapper .form-control {
  border-radius: 50px;
  height: 32px;
  width: 250px;
  border: none;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
} 
.top-nav .globalsearch-wrapper .form-control.hidden {
  width: 0;
  padding: 0;
  opacity: 0;
}
@media (min-width: 1200px) {
  .top-nav .logo-group {
    margin-left: 334px;
  }
}
@media (max-width:767px) {
  header .top-nav {
  }
  .top-nav .globalsearch-wrapper form {
    flex-wrap: wrap;
    display: -ms-flexbox;
  }
  .top-nav .globalsearch-wrapper .form-control {
    width: calc(100% - 65px);  
    position: absolute;
    right: 50px; 
    height: 24px;
    padding: 0.4rem 0.75rem !important; 
  }
  .top-nav .globalsearch-wrapper form .btn-search {
    flex: 0 0 16px;
    -ms-flex: 0 0 16px;
    max-width: 16px;   
    height: 24px;
    margin-left: 6px;
  }
}
@media (max-width: 576px) {
  
}

/*  -- -- Main Nav  */
header.scrolled .main-nav .navbar-brand img {
  height: 35px;
}
.main-nav {
  background-color: #fff;
}
.main-nav .navbar-brand img {
  height: 50px;
  width: 236px;
  object-fit: contain;
  object-position: center;
  margin-right: 2rem;
  margin-left: 2rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.main-nav .nav-item .nav-link {
  font-family: 'Conv_DINOT-Bold';  
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-size: 16px;
  color: #E21837;
}
.main-nav .nav-item.active .nav-link {
  color: rgba(0,0,0,0.5);
}
.main-nav .nav-item.selection {
  display: flex;
  padding-right: 1rem;
  position: relative;
}
.main-nav .nav-item.selection .nav-link {
  padding-right: 0.5rem;
}
.main-nav .nav-item.selection .custom-select::-ms-expand { 
  display: none; 
}
.main-nav .nav-item.selection .select-arrow {
  position: relative;
}
.main-nav .nav-item.selection .select-arrow:after {
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  background-image: url(../img/arrowsred_down.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  display: none;
}
.main-nav .nav-item.selection .custom-select {
  width: auto;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../img/arrowsred_down.png) no-repeat 96% center;
  background-size: 10px;
  font-size: 16px;
  height: 40px;
}
.main-nav .nav-item.dropdown .nav-link {
  padding-right: 1.75rem;
  position: relative;
}
.main-nav .nav-item.dropdown .nav-link:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/arrowsred_down.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  border: none;
}
.main-nav .nav-item.dropdown .dropdown-menu {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.main-nav .navbar-toggler-icon {
  background: transparent;
  width: auto;
  height: auto;
  padding: 0.3rem;
}
.main-nav .navbar-toggler-icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0c9";
  color: #E21837;
}
@media (max-width: 1199px) {
  .main-nav .navbar-brand img {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  header .main-nav .navbar-brand img {
    height: 35px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .main-nav .nav-item.selection .custom-select {
    height: auto;
  }
}
@media (min-width: 1200px) and (max-width: 1226px) {
  .main-nav .nav-item .nav-link {
    font-size: 12px;
  }
}

/*  -- Homepage  */
/*  -- -- Banner  */
.home-banner {
  color: #fff;
}
.hslider-title{
  font-family: 'Conv_DINOT-Bold';
  font-size: 48px !important;
  line-height: 1;
}
.hslider-separator {
  background: linear-gradient(to left, #A3A3A3, #E8E8E8);
  height: 6px !important;
  width: 100%;
}
.hslider-desc{
  font-size: 14px;
  line-height: 1.5 !important;
}
.hslider-left, .hslider-right{
  position: absolute; 
  z-index: 999; 
  top: 50%; 
  margin-top: 60px; 
  width: 62px; 
  height: 62px; 
  display: block;
}
.hslider-left{
  left: 10px; 
  background: url(../img/bg-arrow-1.png) no-repeat top left; 
  background-size: 62px;
}
.hslider-right{
  right: 10px; 
  background: url(../img/bg-arrow-2.png) no-repeat top left; 
  background-size: 62px;
}
/*  -- -- Card Multicolor  */
.card-multicolor .card-col .card-item {
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin-bottom: 2rem;
}
.card-multicolor .card-col .card-item:hover,
.card-multicolor .card-col .card-item:focus,
.card-multicolor .card-col .card-item:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-multicolor .card-col .card-item .image {
  overflow: hidden;
}
.card-multicolor .card-col .card-item .image img {
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.card-multicolor .card-col .card-item:hover .image img,
.card-multicolor .card-col .card-item:focus .image img,
.card-multicolor .card-col .card-item:active .image img {
  transform: scale(1.1);
}
.card-multicolor .card-col .card-item .text .title {
  text-align: center;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  font-family: 'Conv_DINOT-Bold';
  color: #fff;
}
.card-multicolor .card-col .card-item .text .type {
  text-align: center;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  background-color: white;
}
@media (max-width: 576px) {
  .card-multicolor .card-col .card-item {
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
  }
  .card-multicolor .card-col .card-item .text .title {
    min-height: auto;
  }
  .card-multicolor .card-col .card-item .image img {
    height: 100%;
    object-fit: cover;
  }
}

/*  -- -- Filter Slider  */
.slider-overflow {
  overflow: hidden;
}
.filter-slider {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.filter-slider .owl-carousel .owl-stage-outer {
  /* margin-left: -50%;
  margin-right: -50%; */
}
.filter-slider .owl-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
.filter-slider .owl-head .filter-menu ul {
  margin-bottom: 0;
}
.filter-slider .owl-head .filter-menu ul li {
  font-family: "Conv_DINOT-Bold";
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.filter-slider .owl-head .filter-menu ul li:hover,
.filter-slider .owl-head .filter-menu ul li:focus,
.filter-slider .owl-head .filter-menu ul li:active {
  color: #E21837;
}
.filter-slider .owl-head .viewall-wrapper {
  display: flex;
}
.filter-slider .owl-head .viewall-wrapper .label {
  margin-right: 1rem;
  font-family: "Conv_DINOT-Bold";
}
.filter-slider .owl-head .viewall-wrapper .viewall-link a {
  font-family: "Conv_DINOT-Bold";
  color: #E21837;
}
.filter-slider .filter-item .item {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  position: relative;
}
.filter-slider .filter-item .item .image img {
  width: 100%;
}
.filter-slider .filter-item .item .text {
  padding: 0.5rem 1.5rem 1.5rem;
}
.filter-slider .filter-item .item .text .title {
  font-family: "Conv_DINOT-Bold";
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.filter-slider .filter-item .item .text .desc p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  height: 83.2px;
}
.filter-slider .filter-item .item .owl-item {
  margin-bottom: 1px;
}
.filter-slider .filter-item .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/bg-4.png');
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.filter-slider .filter-item .item .overlay .btn-learn-more {
  background-image: url('../img/drop-learn-more.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
  font-size: 0.7rem;
  font-family: "Conv_DINOT-Bold";
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -o-transform: scale(0.1);
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.filter-slider .filter-item .item .overlay:hover,
.filter-slider .filter-item .item .overlay:focus,
.filter-slider .filter-item .item .overlay:active {
  opacity: 1;
}
.filter-slider .filter-item .item .overlay:hover .btn-learn-more,
.filter-slider .filter-item .item .overlay:focus .btn-learn-more,
.filter-slider .filter-item .item .overlay:active .btn-learn-more {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  top: calc(50% - 75px);
}
.filter-slider .filter-item .item .overlay .icon-arrow-down {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  height: 7px;
  background: url(../img/icon-arrow-down.png) no-repeat center;
  background-size: 11px 7px;
}
@media (max-width: 576px) {
  .filter-slider .owl-head .viewall-wrapper {
    display: block;
  }
}

/*  Article  */
.with-background {
  background-image: url('../img/article_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlap-wrapper .image img {
  width: 100%;
}
.overlap-wrapper .intro {
  margin-right: 0;
  margin-left: auto;
  padding: 4rem 6rem;
  padding-right: 10rem;
  max-width: calc(100% - 100px);
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  color: white;
  margin-top: -150px;
  position: relative;
}
@media (max-width: 767px) {
  .overlap-wrapper .intro {
    padding: 1.5rem;
    margin-top: 0;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .with-background .container {
    padding-left : 0;
    padding-right: 0;
    overflow: hidden;
  }
}
.thumbnail-wrapper .thumbnail-item {
  margin-bottom: 1rem;
}
.thumbnail-wrapper .image {
  margin-bottom: 2rem;
}
.thumbnail-wrapper .image img {
  width: 100%;
}
.thumbnail-wrapper .text > div:not(:last-child) {
  margin-bottom: 2rem;
}
.thumbnail-wrapper .text .title {
  font-size: 1.5rem;
  font-family: 'Conv_DINOT-Bold';
}
.thumbnail-wrapper .text .desc p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
@media (max-width: 767px) {
  .thumbnail-wrapper .image {
    margin-bottom: 1rem;
  }
  .thumbnail-wrapper .text > div:not(:last-child) {
    margin-bottom: 1rem;
  }
  .thumbnail-wrapper .text .title {
    font-size: 1rem;
  }
}

.hslider-image img {
  width: 100%;
}
.hslider-image {
  position: relative;
}
.hslider-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(4, 159, 204, 0.7), rgba(1, 125, 179, 0.7));
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.hslider-image:hover .overlay,
.hslider-image:focus .overlay,
.hslider-image:active .overlay {
  opacity: 1;
}
.hslider-image .overlay .tooltip-wrapper {
  position: absolute;
  background: white;
  color: #2C2E3D;
  width: 300px;
  white-space: normal;
  padding: 1rem;
  z-index: 1;
  right: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  top: 100%;
  font-size: 0.8rem;
}
.hslider-image .overlay .tooltip-wrapper .desc {
  margin-bottom: 1.5rem;
}
.hslider-image .overlay .tooltip-wrapper .btn-red {
  padding: 6px 25px;
  font-size: 12px;
}
.article-c .overlap-wrapper .intro {
  background: linear-gradient(to bottom right, #049FCC, #017DB3);
}
.article-d .overlap-wrapper .intro {
  background: linear-gradient(to bottom right, #E5598A, #E8507E);
}
@media (max-width: 576px) {
  .hslider-title {
    font-size: 1rem !important;
    width: 200px !important;
    height: auto !important;
    line-height: 1.25 !important;;
  }
  .hslider-title p {
    margin-bottom: 0;
  }
  .hslider-desc {
    font-size: 10px !important;
  }
  .hslider-desc p {
    margin-bottom: 0;
    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  }
  .hslider-desc h5 {
    font-size: 0.9rem;
  }
  .hslider-image {
    width: 45px !important;
    height: 45px !important;
  }
  .hslider-image .overlay .text {
    font-size: 10px !important;
  }
}

/*  Article Details  */

#article-details .with-background .container {
  padding-left: 30px;
  padding-right: 30px;
}
.share-socialmedia ul {
  margin-bottom: 0;
}
.share-socialmedia li {
  vertical-align: middle;
}
.share-socialmedia label {
  margin-bottom: 0;
}
.share-socialmedia .share-link {
  height: 28px;
  background-image: url(../img/socialmedia_logo.png);
  background-repeat: no-repeat;
  background-size: 142px 28px;
  display: block;
}
.share-socialmedia .share-link.facebook {
  width: 28px;
  background-position: 0px 0px;
}
.share-socialmedia .share-link.instagram {
  width: 28px;
  background-position: -38px 0px;
}
.share-socialmedia .share-link.twitter {
  width: 28px;
  background-position: -76px 0px;
}
.share-socialmedia .share-link.googleplus {
  width: 28px;
  background-position: -114px 0px;
}
.detail-point {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 2.5rem 2rem;
  margin-bottom: 1.5rem;
}
.detail-point .detail-point-heading {
  font-size: 20px;
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 1rem;
}
.detail-point ul {
  margin-bottom: 0;
}
.detail-point ul li {
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
}
.detail-point ul li a {
  position: relative;
  padding-left: 2rem;
  color: #2C2E3D;
  font-family: 'Conv_DINOT-Bold';
}
.detail-point ul li:before {
  content: '';
  width: 10px;
  height: 10px;
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  position: absolute;
  border-radius: 50px;
  margin-right: 1.5rem;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.detail-point ul li.active a {
  color: white;
}
.detail-point ul li.active:before {
  width: 100% !important;
  border-radius: 50px;
  padding: 20px 10px;
}
.detail-point ul li:hover:before,
.detail-point ul li:focus:before,
.detail-point ul li:active:before {
  width: 20px;
}
.detail-main {
  padding: 0 0 1rem;
}
.detail-main .title {
  font-size: 2.8rem;
  font-family: 'Conv_DINOT-Bold';
  line-height: 1.25;
  margin-bottom: 1.5rem;
}
.detail-main .image img {
  width: 100%;
}
@media (max-width: 991px) {
  .detail-main .image {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 767px) {
  .detail-main .title {
    font-size: 1.4rem;
  }
  .detail-point .detail-point-heading {
    font-size: 0.9rem;
  }
}
.main-detail {
  background-image: url(../img/articledetail_background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.main-detail .content {
  padding: 1.5rem 0;
}
.related-article .related-item {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.related-article .related-item:hover,
.related-article .related-item:focus,
.related-article .related-item:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.related-article .related-item .image img {
  width: 100%;
}
.related-article .related-item .separator {
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  height: 5px;
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.related-article .related-item:hover .separator,
.related-article .related-item:focus .separator,
.related-article .related-item:active .separator {
  background: linear-gradient(to bottom right, #E01936 30%, #B6122B);
}
.related-article .related-item .text {
  padding: 1.25rem 2rem;
}
.related-article .related-item .text .title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 1.25rem;
  min-height: 60px;
}
.related-article .related-item .link a {
  display: block;
  background: linear-gradient(to bottom right, #E01936, #B6122B);
  text-align: center;
  padding: 1.5rem 2rem;
  color: white;
  font-family: 'Conv_DINOT-Bold';
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.related-article .related-item:hover .link a,
.related-article .related-item:focus .link a,
.related-article .related-item:active .link a {
  background: linear-gradient(to bottom right, #E01936 30%, #B6122B);
}
@media (max-width:767px) {
  .related-article .related-item {
    margin-bottom: 1rem;
  }
  .related-article .related-item .text .title {
    font-size: 0.9rem;
    min-height: auto;
  }
  .related-article .related-item .link a {
    padding: 0.5rem 1rem;
  }
}

/*  -- Ask the Expert  */
#ask-expert .section {
  overflow: hidden;
  background-image: url(../img/ask_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.main-tabs {
  margin-bottom: 1.5rem;
}
.main-tabs .slick-slide {
  width: auto !important;
  padding: 7px 25px;
}
.main-tabs .slick-slide .item-tab {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.main-tabs .slick-slide .item-tab:after {
  content: '';
  height: 10px;
  width: 10px;
  margin: 0.5rem auto;
  background-color: #DDDDDD;
  border-radius: 100%;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.main-tabs .slick-slide.slick-current .item-tab {
  color: #E11838;
}
.main-tabs .slick-slide.slick-current .item-tab:after {
  background-color: #E11838;
}
.main-slider .slick-list {
  overflow: initial;
}
.main-slider .slick-slide.slick-current.slick-center .item-slider {
  /* background-image: url(../img/active_chatbox.png); */
  background: #fff;
}
.main-slider .slick-slide {
  padding: 10px 30px;
  padding-bottom: 65px;
}
.main-slider .slick-slide .item-slider {
  height: 550px;
  /* background-image: url(../img/inactive_chatbox.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; */
  background: linear-gradient(to top right, #EBE8E8 10%, #fff);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  border-bottom-right-radius: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding: 3.5rem;
  position: relative;
}
.main-slider .slick-slide.slick-current.slick-center .item-slider:before {
  border-top-color: #fff;
}
.main-slider .slick-slide .item-slider:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid #F4F2F2;
  border-left: 50px solid transparent;
  position: absolute;
  bottom: -49px;
  right: 0;
  z-index: 1;
}
.main-slider .slick-slide .item-slider:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 55px solid rgba(0,0,0,0.1);
  filter: blur(2px);
  border-left: 55px solid transparent;
  position: absolute;
  bottom: -58px;
  right: -2px;
}
.main-slider .slick-slide .item-slider .item-inside {
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.main-slider .slick-slide.slick-current.slick-center .item-slider .item-inside {
  opacity: 1;
}
.main-slider .tab-heading {
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 2rem;
}
.main-slider .tab-heading:before {
  content: '';
  height: 21px;
  width: 21px;
  background-image: url(../img/question_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.75rem;
}
.main-slider .tab-heading.blood {
  margin-bottom: 1rem;
}
.main-slider .tab-heading.blood:before {
  content: '';
  height: 50px;
  width: 29px;
  background-image: url(../img/blood_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.75rem;
}
.main-slider .faq  .card {
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.main-slider .faq  .card .card-header {
  background-color: transparent;
  border-bottom: 0;
}
.main-slider .faq  .card .card-header .btn-link {
  padding: 0;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #2C2E3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider .faq  .card .card-header .btn-link:after {
  content: '';
  height: 12px;
  width: 12px;
  background-image: url(../img/arrowsred_up.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.main-slider .faq  .card .card-header .btn-link.collapsed:after {
  background-image: url(../img/arrowsred_down.png);
}
.main-slider .faq .accordion {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 2rem;
}
.main-slider .tab-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider .ask-expert .as-background {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 10px;
}
.main-slider .form-title {
  font-size: 1.2rem;
  font-family: 'Conv_DINOT-Bold';
  color: #E11838;
  margin-bottom: 1.25rem;
}
.main-slider .form-title.smaller {
  font-size: 14px;
}
.main-slider .form-group {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
}
.main-slider .form-group label {
  flex: 0 0 100px;
  -ms-flex:  0 0 100px;
  max-width: 100px;
  font-size: 1.2rem;
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 0;
  padding: 6px 0;
}
.main-slider .form-group .form-control {
  flex: 0 0 calc(100% - 100px);
  -ms-flex:  0 0 calc(100% - 100px);
  max-width: calc(100% - 100px);
  border-radius: 0;
  resize: none;
}
.main-slider .chat-wrapper {
  border-top: 1px solid rgba(0,0,0,0.125);
  border-bottom: 1px solid rgba(0,0,0,0.125);
  margin-bottom: 2rem;
  height: 200px;
  overflow-y: auto;
}
.main-slider .chat-wrapper .chat-item {
  padding: 1.25rem 0;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.main-slider .chat-wrapper .chat-item .name {
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 0.25rem;
  max-width: 60%;
}
.main-slider .chat-wrapper .chat-item .chat {
  max-width: 60%;  
}
.main-slider .chat-wrapper .chat-item.sender {
  padding-left: 1.5rem
}
.main-slider .chat-wrapper .chat-item.sender .name:before {
  content: '';
  height: 24px;
  width: 24px;
  background-image: url(../img/account_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem
}
.main-slider .chat-wrapper .chat-item.reciever {
  text-align: right;
  padding-right: 1.5rem;
}
.main-slider .chat-wrapper .chat-item.reciever .name,
.main-slider .chat-wrapper .chat-item.reciever .chat {
  margin-right: 0;
  margin-left: auto;
}
@media(max-width: 991px) {
  .main-slider .slick-list {
    padding: 0 !important;
  }
  .main-slider .slick-slide .item-slider {
    padding: 1.5rem;
  }
  .main-slider .tab-info {
    display: block;
  }
  .main-slider .tab-info > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .main-slider .slick-slide {
    padding: 10px;
  }
  .main-slider .form-title {
    font-size: 0.9rem;
  }
  .main-slider .form-title.smaller {
    font-size: 0.7rem;
  }
  .main-slider .form-group label {
    font-size: 0.7rem;
  }
  .main-slider .form-group .form-control {
    height: auto;
  }
  .main-slider .tab-heading.blood:before {
    height: 30px;
    width: 19px;
  }
  .main-slider .ask-expert .as-background {
    max-width: 200px;
  }
  .main-tabs .slick-list {
    padding: 0 !important;
  }
  .main-tabs .slick-slide {
    padding: 7px 10px;
  }
  .main-slider .chat-wrapper .chat-item .name,
  .main-slider .chat-wrapper .chat-item .chat {
    max-width: 90%;
  }
}

/*  -- Products  */
#product .section {
  overflow: hidden;
  background-image: url(../img/ask_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.category-tabs {
  display: flex;
  margin-bottom: 1.5rem;
}
.category-tabs .item-tab {
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}
.category-tabs .item-tab:not(:last-child) {
  margin-right: 2rem;
}
.category-tabs .item-tab:after {
  content: '';
  height: 10px;
  width: 10px;
  margin: 0.5rem auto;
  background-color: #DDDDDD;
  border-radius: 100%;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.category-tabs .item-tab.active {
  color: #E11838;
}
.category-tabs .item-tab.active:after {
  background-color: #E11838;
}
@media (max-width:767px) {
  .category-tabs .item-tab:not(:last-child) {
    margin-right: 1rem;
  }
}
.fancybox-active header {
  /* position: relative; */
  /* z-index: 99993; */
}
.product-slider {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding: 5rem 0 3rem;
}
.product-slider .slick-arrow {
  width: 36px;
  height: 36px;
  z-index: 1;
}
.product-slider .slick-arrow:before {
  content: '';
  background-image: url(../img/nav_arrow_red.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: block;
}
.product-slider .slick-prev {
  left: -13px;
}
.product-slider .slick-prev:before {
  transform: rotate(180deg);
}
.product-slider .slick-next {
  right: -13px;
}
.fancybox-active .product-slider {
  padding-bottom: 13rem;
}
#product .section-heading {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.fancybox-active #product .section-heading {
  padding-top: 9rem;
}
.product-slider .slick-list {
  overflow: unset;
}
.product-slider .slick-slide {
  opacity: 0.5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
}
.product-slider .slick-slide:before {
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.product-slider .slick-slide.clicked:before {
  display:none;
}
.product-slider .slick-slide.slick-active {
  opacity: 0.95;
}
.product-slider .slick-slide:hover,
.product-slider .slick-slide:focus,
.product-slider .slick-slide:active {
  opacity: 1;
}
.product-slider .slick-slide:hover img,
.product-slider .slick-slide:focus img,
.product-slider .slick-slide:active img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.product-slider .slick-slide img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  padding: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.product-slider .slick-slide.blur-image img {
  filter: blur(2px);
}
@Media (max-width: 767px) {
  .product-slider .slick-slide.slick-center {
    opacity: 0.95 !important;
  }
  .product-slider .slick-slide:hover, .product-slider .slick-slide:focus, .product-slider .slick-slide:active {
    opacity: 0.65;
  }
  .product-slider .slick-slide img {
    width: 200px;
    height: 200px;
  }
  .fancybox-active .product-slider {
    padding-bottom: 22rem;
  }
  .product-detail {
    padding: 0 10px;
  }
  .product-slider .slick-slide.slick-center:before {
    /* z-index: 0; */
    display: none;
  }
}
.product-benefits {
  margin: 4rem 0 0;
}
.product-benefits .product-benefit-item {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.product-benefits .product-benefit-item .image {
  flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  max-width: 80px;
}
.product-benefits .product-benefit-item .image img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  object-position: right;
}
.product-benefits .product-benefit-item .desc {
  flex: 0 0 calc(100% - 80px);
  -ms-flex: 0 0 calc(100% - 80px);
  max-width: calc(100% - 80px);
  padding-left: 1rem;
  font-family: 'Conv_DINOT-Bold';
}
@media (max-width:767px) {
  .product-benefits {
    margin-top: 1rem;
  }
  .product-benefits .product-benefit-item {
    margin-bottom: 0.5rem;
  }
  .product-benefits .product-benefit-item .image {
    flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    max-width: 50px;
  }
  .product-benefits .product-benefit-item .image img {
    height: 50px;
    width: 50px;
    object-position: center;
  }
  .product-benefits .product-benefit-item .desc {
    flex: 0 0 calc(100% - 50px);
    -ms-flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}
.product-detail {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  background: transparent;
  position: relative;
}
.product-detail:before {
  content: '';
  background: white;
  position: absolute;
  top: calc(15px + 179px);
  right: 15px;
  left: 15px;
  bottom: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.125);
}
.product-detail .image {
  /* margin-bottom: 1.5rem; */
}
.product-detail .image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: left;
}
.product-detail .share-socialmedia {
  margin-bottom: 1.5rem;
  display: none;
}
.product-detail .content .title {
  font-size: 3rem;
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 0.5rem;
}
.product-detail .content .category {
  margin-bottom: 0.5rem;
}
.product-detail .content .category ul {
  margin-bottom: 0;
}
.product-detail .content .category ul li {
  font-family: 'Conv_DINOT-Bold';
}
.product-detail .content .category ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.product-detail .content .category ul li:before {
  content: '';
  width: 36px;
  height: 24px;
  background-image: url(../img/category-list-type.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: sub;
}
.product-detail .content .desc ul {
  list-style-type: none;
}
.product-detail .content .desc ul li:before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #E11838; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.product-detail .content .desc ul li {
  margin-bottom: 1.5rem;
}
@media (max-width:767px) {
  .product-detail .content .title {
    font-size: 1.6rem;
  }
  .product-detail .content .category {
    margin-bottom: 1rem;
  }
  .product-detail .content .category ul li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .product-detail .content .desc ul {
    padding-left: 15px;
  }
}
/*  Fancy Product  */

@media (min-width: 577px) {
  body.compensate-for-scrollbar {
    overflow: auto;
  }
  .fancybox-container {
    position: absolute;
    top: 124px;
    height: 115%;
  }
}
@media (max-width: 1089px) and (min-width: 844px) {
  .fancybox-container {
    top: 109px
  }
}
@media (max-width: 843px) and (min-width: 577px) {
  .fancybox-container {
    top: 126px;
  }
}
/* @media (max-width: 633px) {
  .fancybox-container {
    top: 101px;
  }
} */
.fancybox-bg {
  background: rgba(255,255,255,0.95);
}
.fancybox-button {
  border-radius: 100%;
}
.fancybox-navigation {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.fancybox-navigation .fancybox-button {
  height: 40px;
  width: 40px;
  padding: 0;
  background: #D8D8D8;
  color: white;
}
.fancybox-navigation .fancybox-button--arrow_right {
  right: 15px;
}
.fancybox-navigation .fancybox-button--arrow_left {
  left: 15px;
}
@media (max-width: 991px) {
  /* .fancybox-slide--current ~ .fancybox-slide--html {
    display: block;
  } */
}

/*  -- Sign and Symptoms  */
.signandsymptoms .with-background {
  background-image: url(../img/anemia-check-background.png);
  position: relative;
  padding: 0;
}
.signandsymptoms .with-background > .container {
  position: relative;
  z-index: 1;
}
.signandsymptoms .with-background .intro {
  padding: 5rem 0;
}

.signandsymptoms .with-background .image-right {
  padding: 5rem 0;
  padding-right: 3rem;
}
.signandsymptoms .with-background:before {
  content: '';
  height: 100%;
  background-image: url(../img/anemia-check-left.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 3rem;
  left: 3rem;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.signandsymptoms .with-background .intro .desc {
  font-size: 1.2rem;
}
.signandsymptoms .with-background .intro .link {
  margin-top: 1.5rem;
}
@media (max-width: 991px) {
  
  .signandsymptoms .with-background:before {
    display: none;
  }
  .signandsymptoms .with-background .intro {
    padding-bottom: 1rem;
  }
  .signandsymptoms .with-background .image-right {
    padding-top: 1rem;
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  .signandsymptoms .with-background .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .signandsymptoms .with-background .image img {
    width: 120px;
  }
  /* .signandsymptoms .with-background .intro .desc {
    font-size: 12px;
  } */
}

/*  -- Campaign  */
#campaign .section {
  overflow: hidden;
}
.campaign-slider {
  margin-bottom: 1.5rem;
}
.campaign-slider > .slick-list {
  overflow: initial;
}
.campaign-slider > .slick-list > .slick-track > .slick-slide {
  position: relative;
  opacity: 0.5;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.campaign-slider > .slick-list > .slick-track > .slide.slick-active {
  opacity: 1;
}
.campaign-slider > .slick-list > .slick-track > .slick-slide .slide .image {
  position: relative;
  padding: 10px;
}
.campaign-slider > .slick-list > .slick-track > .slick-slide .image img {
  width: 100%;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
  border-radius: 6px;
}
.campaign-slider .overlay {
  position: absolute;
  top: 10px;
  left: auto;
  right: 9px;
  bottom: 10px;
  width: 100%;
  max-width: 350px;
  background: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 2rem;
}
.campaign-slider .overlay .slide-detail .title {
  font-size: 1.5rem;
  color: #E11838;
  font-family: 'Conv_DINOT-Bold';
  margin-bottom: 1.5rem;
}
.campaign-slider .slick-slide .campaign-nav {
  opacity: 0;
}
.campaign-slider .slick-slide.slick-active .campaign-nav {
  opacity: 1;
}
@media (max-width: 1199px) {
  .campaign-slider .overlay .slide-detail .title {
    font-size: 1.2rem;
  }
  .campaign-slider .overlay .slide-detail .desc {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .campaign-slider .overlay {
    position: initial;
    padding: 0.5rem 1rem;
  }
  .campaign-slider .overlay .slide-detail .title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}
.campaign-nav .slick-slide .item-nav {
  padding: 5px;
}
.campaign-nav .slick-slide .item-nav img {
  width: 100%;
  border-radius: 6px;
}
.campaign-slider .slick-slide .item-nav {
  padding: 5px;
}
.campaign-slider .slick-slide .item-nav img {
  width: 100%;
  border-radius: 6px;
}
.category-tabs .campaign-tab {
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}
.category-tabs .campaign-tab:not(:last-child) {
  margin-right: 2rem;
}
.category-tabs .campaign-tab:after {
  content: '';
  height: 10px;
  width: 10px;
  margin: 0.5rem auto;
  background-color: #DDDDDD;
  border-radius: 100%;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.category-tabs .campaign-tab.active {
  color: #E11838;
}
.category-tabs .campaign-tab.active:after {
  background-color: #E11838;
}
.campaign-slider .slick-arrow {
  width: 36px;
  height: 36px;
  z-index: 1;
}
.campaign-slider .slick-arrow:before {
  content: '';
  background-image: url(../img/nav_arrow_red.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: block;
}
.campaign-slider .slick-prev {
  left: -13px;
}
.campaign-slider .slick-prev:before {
  transform: rotate(180deg);
}
.campaign-slider .slick-next {
  right: -13px;
}
.campaign-slider .slick-arrow {
  width: 36px;
  height: 36px;
  z-index: 1;
}
.campaign-nav .slick-arrow:before {
  content: '';
  background-image: url(../img/nav_arrow_red.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: block;
}
.campaign-nav .slick-prev {
  left: -13px;
}
.campaign-nav .slick-prev:before {
  transform: rotate(180deg);
}
.campaign-nav .slick-next {
  right: -13px;
}

/*  -- Where to buy  */
.wheretobuy-wrapper {
  margin-bottom: 6rem;
  text-align: center;
  margin-top: 2.5rem;
}
.wheretobuy-wrapper li:not(:last-child) {
  margin-right: 3rem;
}
.wheretobuy-wrapper a {
  display: block
}
.wheretobuy-wrapper a:before {
  content: '';
  background-image: url(../img/wheretobuy_sprites.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
}
.wheretobuy-wrapper .tokopedia:before {
  height:36px;
  width: 176px;
  background-position: 0px 0px;
}
.wheretobuy-wrapper .lazada:before {
  height:36px;
  width: 109px;
  background-position: -225px 0px;
}
.wheretobuy-wrapper .kalbestore:before {
  height:36px;
  width: 122px;
  background-position: -385px 0px;
}
.wheretobuy-wrapper .amazon:before {
  height:36px;
  width: 105px;
  background-position: -557px 0px;
}
.wheretobuy-wrapper .shopee:before {
  height:36px;
  width: 105px;
  background-position: -713px 0px;
}
.maps iframe {
  pointer-events: none;
}
.maps iframe.clicked{
	pointer-events: auto;
}
@media (max-width: 767px) {
  .wheretobuy-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .wheretobuy-wrapper li:not(:last-child) {
    margin-right: 0.5rem;
  }
  .wheretobuy-wrapper a {
    margin-bottom: 0.5rem;
  }
  .wheretobuy-wrapper a:before {
    height: 20px !important; 
  }
  .wheretobuy-wrapper .tokopedia:before {
    width: 99px;
  }
  .wheretobuy-wrapper .lazada:before {
    width: 62px;
    background-position: -124px 0px;
  }
  .wheretobuy-wrapper .kalbestore:before {
    width: 68px;
    background-position: -214px 0px;
  }
  .wheretobuy-wrapper .amazon:before {
    width: 61px;
    background-position: -308px 0px;
  }
  .wheretobuy-wrapper .shopee:before {
    width: 58px;
    background-position: -396px 0px;
  }
}

/*  -- Contact Us  */
#contactus .section {
  background-image: url(../img/ask_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.contactus-wrapper {
  /* height: 550px;
  background-image: url(../img/active_chatbox.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; */
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  border-bottom-right-radius: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding: 3.5rem;
  padding-bottom: 7.5rem;
  position: relative;
}
.contactus-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid #fff;
  border-left: 50px solid transparent;
  position: absolute;
  bottom: -49px;
  right: 0;
  z-index: 1;
}
.contactus-wrapper:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 55px solid rgba(0,0,0,0.1);
  filter: blur(2px);
  border-left: 55px solid transparent;
  position: absolute;
  bottom: -58px;
  right: -2px;
}
.contactus-wrapper .subtitle {
  font-family: 'Conv_DINOT-Bold';
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #E11838;
}
.contactus-wrapper .form-group {
  margin-bottom: 1.25rem;
}
.contactus-wrapper .with-custom-blood {
  padding-top: 0.25rem;
}
.contactus-wrapper .with-custom-blood .custom-control-label,
.contactus-wrapper .with-custom-blood .custom-control-label::before {
  outline: none;
}
.contactus-wrapper .with-custom-blood .custom-control-label::before {
  background-image: url(../img/inactive_blood.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  height: 1.4rem;
  position: initial;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
.contactus-wrapper .with-custom-blood .custom-radio {
  padding-left: 0;
}
.contactus-wrapper .with-custom-blood .custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-image: url(../img/active_blood.png);
  background-color: transparent;
}
.contactus-wrapper .with-custom-blood .custom-control-label::after {
  display: none;
}
.contactus-wrapper .form-control {
  padding: 20px;
  height: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.contactus-wrapper .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #E11838;
}
.contactus-wrapper .gender .custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #E11838;
}
.contactus-wrapper .form-submit {
  text-align: right;
}
@Media (max-width: 991px) {
  .contactus-wrapper {
    height: auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}
@Media (max-width:767px) {
  .contactus-wrapper .subtitle {
    font-size: 0.8rem;
  }
  .contactus-wrapper .with-custom-blood .custom-radio {
    margin-bottom: 0.5rem;
    display: flex;
  }
}

/*  -- Footer  */
footer {
  background-image: url(../img/bg-6.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding-top: 8rem;
}
footer .logo {
  margin-bottom: 2rem;
}
footer .logo img {
  height: 45px;
}
footer .footer-menu .col-12 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
footer .footer-menu ul {
  margin-bottom: 0;
}
footer .footer-menu .heading {
  font-size: 1.2rem;
  font-family: 'Conv_DINOT-Bold';
  color: #fff;
  margin-bottom: 0.5rem;
}
footer .footer-menu .no-heading a {
  font-size: 1.2rem;
  font-family: 'Conv_DINOT-Bold';

}
footer .footer-menu li {
  margin-bottom: 0.25rem;
}
footer .footer-menu a {
  color: rgba(255,255,255,0.8);
}
footer .footer-menu a:hover,
footer .footer-menu a:focus,
footer .footer-menu a:active {
  color: rgba(255,255,255,1);
}
footer .language {
  margin-bottom: 2rem;
}
footer .language .btn {
  background: none;
  border: none;
  color: #fff;
}
footer .language .btn:first-child {
  padding-left: 0;
}
footer .language .btn-result {
  font-family: 'Conv_DINOT-Bold';
}
footer .language .btn img {
  height: 24px;
  margin-right: 0.5rem;
  vertical-align: top;
}
footer .language .dropdown-toggle-split::after, 
footer .language .dropright .dropdown-toggle-split::after, 
footer .language .dropup .dropdown-toggle-split::after {
  margin-left: 0.5rem;
}
footer .socialmedia {
  margin-bottom: 2rem;
  text-align: right;
}
footer .socialmedia .socialmedia-item {
  height: 28px;
  background-image: url(../img/socialmedia_logo.png);
  background-repeat: no-repeat;
  background-size: 142px 28px;
  display: block;
}
footer .socialmedia .socialmedia-item.facebook {
  width: 28px;
  background-position: 0px 0px;
}
footer .socialmedia .socialmedia-item.instagram {
  width: 28px;
  background-position: -38px 0px;
}
footer .socialmedia .socialmedia-item.twitter {
  width: 28px;
  background-position: -76px 0px;
}
footer .socialmedia .socialmedia-item.googleplus {
  width: 28px;
  background-position: -114px 0px;
}
footer .copyrights {
  padding: 1rem ;
  background-color: rgba(0,0,0,.1);
}
footer .copyrights p {
  margin-bottom: 0;
  color: #fff;
  font-size: 0.8rem;
}
footer .copyrights .pg-footer {
  text-align: right;
}
@media (min-width: 1576px) {
  footer {
    padding-top: 10rem;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  footer {
    padding-top: 5rem;
  }
}
@media (max-width: 991px) {
  footer .footer-menu .col-12 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  footer .copyrights .pg-footer,
  footer .copyrights {
    text-align: center !important;
  }
  footer .copyrights .pg-footer {
    margin-bottom: 0.75rem;
  }
  footer .copyrights p {
    font-size: 0.6rem;
  }
  footer .socialmedia {
    text-align: left;
  }
}
@media (max-width: 767px) {
  footer .logo img {
    height: 35px;
  }
  .filter-slider .owl-head {
    display: block;
  }
  .filter-slider .owl-head .category-wrapper {
    margin-bottom: 1rem;
  }
  footer .footer-menu .no-heading a {
    font-size: 0.8rem;
  }
  footer .language .btn img {
    height: 20px;
  }
}
@media (max-width: 576px) {
  footer .copyrights {
    padding-left: 0;
    padding-right: 0;
  }
}

/*  -- Search Result  */
#search-result .section {
  overflow: hidden;
  background-image: url(../img/ask_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.search-totalinfo {
  padding: 1.75rem 80px;
  font-family: 'Conv_DINOT-Bold';
  font-size: 1.2rem;
}
.search-totalinfo span {
  color: #E11838;
}
.search-wrapper {
  height: 360px;
  overflow-y: auto;
  margin-bottom: 2rem;
  border-top: 1px solid rgba(0,0,0,0.125);
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
.search-wrapper .search-item {
  padding: 1.5rem 0;
  padding-right: 1.5rem;
}
.search-wrapper .search-item .text > div:not(:last-child) {
  margin-bottom: 0.75rem;
}
.search-wrapper .search-item .text .title {
  font-family: 'Conv_DINOT-Bold';
}
.search-wrapper .search-item .text .short-desc,
.search-wrapper .search-item .text .link {
  padding-left: 1.5rem;
}
.search-wrapper .search-item .text .short-desc p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.search-wrapper .search-item .text .link a {
  color: #E11838;
  font-family: 'Conv_DINOT-Bold';
}
.search-wrapper .search-item:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
@media (max-width: 767px) {
  .search-wrapper .search-item .text .short-desc,
  .search-wrapper .search-item .text .link {
    padding-left: 0;
  }
}